/target
**/*.rs.bk
Cargo.lock
.env
node_modules/

# Circuit build artifacts
circuit/build/
circuit/node_modules/
circuit/package.json
circuit/package-lock.json
circuit/*.ptau
circuit/*.r1cs
circuit/*.sym
circuit/*.wasm
circuit/*.zkey
circuit/verification_key.*

# Generated verification keys
src/verification_key/
**/verification_key.bin
**/verification_key.json .env
